<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <title>Bookkeeping app</title>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Bookkeeping app</a>
            </div>
            <ul class="navbar-nav">
                <li><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item active"><a class="nav-link" href="/addtitle">Add a book</a></li>
                <li><a class="nav-link" href="/status">Add a status type</a></li>
                <li><a class="nav-link" href="/friends">Friends</a></li>
                <li><a class="nav-link" href="/logout">logout</a></li>
            </ul>
        </nav>
        <div class="container mt-4">
            <div class="row">
                <div class="col-4">
                    <h2>Add a book:</h2>
                    <form action="/newtitle" method="POST">
                        <div class="form-group">
                            <label for="author">Author's name:</label>
                            <input type="text" class="form-control" name="author"> <br>
                            <label for="name">Name of the book:</label>
                            <input type="text" class="form-control" name="name"> <br>
                            <label for="genre">Genre:</label>
                            <input type="text" class="form-control" name="genre"><br>
                            <label for="status">Status:</label>
                            <select class="form-control" id="status" name="status">
                                {% for i in statuses %}
                                <option value="{{i}}"> {{i}}</option>
                                {% endfor %}
                            </select> <br>
                            <label for="friend">Holder:</label>
                            <select class="form-control" id="friend" name="friend">
                                {% for i in friends %}
                                <option value="{{i}}"> {{i}}</option>
                                {% endfor %}
                            </select> <br>
                        </div>
                        <button type="submit" class="btn btn-primary">add book</button>
                    </form>                    
                    {% with errors = get_flashed_messages() %}
                        {% for error in errors %}
                            {{error}}
                        {% endfor %}
                    {% endwith %}
                </div>
            </div>            
        </div>
    </body>
</html>