<title>Bookkeeping app</title>
<h1>Bookkeeping app</h1>
<p>{{ message }}</p>
<h3>My books:</h3>
<ul>
    {% for book in books %}
    <li> {{book[0]}}: {{book[1]}}. Status: {{book[2]}} 
    {% endfor %}
</ul>
<a href="/edit_books">Edit book statuses and holders</a>
<h3>Books in loan:</h3>
<ul>
    {% for book in loaned %}
    <li> {{book[0]}}: {{book[1]}}. Loaned by: {{book[3]}}
    {% endfor %}
</ul> <br>

<a href="/addtitle">Add a book</a> <br>
<a href="/status">Add a status type</a><br>
<a href="/friends">Friends</a><br>
<a href="/logout">logout</a>